@import '../../../../styles/styles.scss';

.episodes-list-item {
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  @media (max-width: 400px) {
    font-size: 12px;
  }
}

.episode-description {
  position: absolute;
  background-color: white;
  width: 90%;
  margin-top: 30px;
  box-shadow: $large-shadow;

  p {
    color: $dark-gray;
    margin: 15px;
    text-align: left;
  }

  .fa {
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    top: 5%;
    right: 10px;
    color: $dark-gray;
  }
}

.show-description-icon {
  margin-left: 10px;
  line-height: 22px;
  font-size: 12px;
  transition: all .5s ease;
  color: #00B8D4;
}

.show-description-icon:hover {
  color: white;
}

.episode-description-title {
  font-size: 22px;
  font-weight: bold;
  color: #00B8D4 !important;
}

.episode-title-none {

}
